
    @model IEnumerable<tip4trip_2.Models.House>

<br /><br />
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{

    @Html.TextBox("searching")<input type="submit" value="Search"/>
}
<table class="table table-striped">

    <thead>
        <tr>
            <th>House Location</th>
            <th>House Address</th>
            <th>House Dates</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No match
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Location</td>
                   
                    <td>@item.Address </td>
                    <td>@item.DateToRent </td>
                </tr>
            }
        }
    </tbody>
</table>
@{
    ViewBag.Title = "Home Page";
}
<h1 style="text-align:center">Tip4Trip</h1>


<body style="background-color:darkslateblue">

    <div class="jumbotron" style="background-color:chartreuse">

        <h2>Tip4Trip</h2>
        <p>@Html.ActionLink("Houses", "Index", "Houses")</p>
        <p>@Html.ActionLink("Locations", "Index", "Locations")</p>



        <p class="lead">Tip4Trip is the new AirBnB for northern Greece</p>
        <p><a href="https://www.google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>


    </body>
